*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: Tahoma, sans-serif;
    font-size: 25px;
}

h1 {
    color: white;
    font-size: 1em;
    padding-block: 10px;
    padding-inline: 0;
    text-align: center;
}

.container {
    padding-block: 5px;
    padding-inline: 10px;
    inline-size: 100%;
}

.offer {
    float: left;
    margin: 10px;
    inline-size: calc((100% - 60px) / 3);
    background-color: white;
    color: #555;
    font-size: 0.6em;
    font-weight: lighter;
    list-style: none;
}

.offer:hover {
    box-shadow: 5px 7px 15px black;
}

.active {
    box-shadow: 5px 7px 15px black;
}

li {
    border-block-start: #f4f4f4 solid 1px;
    padding: 15px 10px;
    text-align: center;
}

li:first-child, li:first-child h2 {
    border-block-start: none;
    color: white;
    font-size: 25px;
    font-weight: normal;
}

li:first-child {
    background-color: #111;
}

ul.active li:first-child {
    background-color: #4eaf58;
}

li:nth-child(2) {
    background-color: #f4f4f4;
    border-block-start: none;
    font-size: 20px;
}

li:last-child {
    background-color: #f4f4f4;
    border-block-start: none;
}

.value {
    font-weight: bold;
}

.button {
    background-color: #4eaf58;
    border: none;
    color: white;
    font-size: 0.9em;
    padding: 10px;
}

@media (max-width: 800px) {
    .offer {
        float: none;
        inline-size: calc(100% - 20px);
        margin-block-end: 20px;
    }
    .container {
        padding-block-end: 0;
    }
}