*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: Tahoma, sans-serif;
    font-size: 25px;
}

h1 {
    color: white;
    font-size: 1em;
    padding-block: 10px;
    padding-inline: 0;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block: 15px;
    padding-inline: 20px;
}

.offer {
    width: 100%;
    background-color: white;
    color: #555;
    font-size: 0.6em;
    font-weight: lighter;
    list-style: none;
}

.offer:hover {
    box-shadow: 5px 7px 15px black;
}

.active {
    box-shadow: 5px 7px 15px black;
}

li {
    border-block-start: #f4f4f4 solid 1px;
    padding-block: 15px;
    padding-inline: 10px;
    text-align: center;
}

li:first-child, li:first-child h2 {
    border-block-start: none;
    color: white;
    font-size: 25px;
    font-weight: normal;
}

li:first-child {
    background-color: #111;
}

ul.active li:first-child {
    background-color: #4eaf58;
}

li:nth-child(2) {
    background-color: #f4f4f4;
    border-block-start: none;
    font-size: 20px;
}

li:last-child {
    background-color: #f4f4f4;
    border-block-start: none;
}

.value {
    font-weight: bold;
}

.button {
    background-color: #4eaf58;
    border: none;
    color: white;
    font-size: 0.9em;
    padding: 10px;
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
    }
}